:root {
  --ifm-color-primary: #49a98f;
  --ifm-color-primary-dark: #429881;
  --ifm-color-primary-darker: #3e907a;
  --ifm-color-primary-darkest: #337664;
  --ifm-color-primary-light: #55b59b;
  --ifm-color-primary-lighter: #5db9a0;
  --ifm-color-primary-lightest: #77c4af;
}

:root {
  --ifm-font-family-base:
    -apple-system, 'system-ui', 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

.main-wrapper {
  max-width: 50rem;
  margin: auto;
}
